body{
    margin: 0; padding: 0;
    background-color: #211f8c;
}
#corpo{
    margin: 0px 15%;
    padding: 20px;
    background-color: white;
}
.cabecalho{display: flex;}
.foto{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fotografia{
    width: 50%;
    height: auto;
    border-radius: 20%;
    border: 3px solid;
    border-color: black red;
    transition: 1s;
}
.fotografia:hover{
    width: 55%;
    transition: 1s;
    border-color: red black;
}
.texto{
    font-size: 17px;
    font-family: Arial
}
#meio{margin: 10px 20px;}
.cor{color: #211f8c;}
li{
    border-bottom: 3px solid #211f8c;
    font-size: 17px;
}
.logos{
    display: flex;
    justify-content: center;
    align-items: center;
}
.icone{
    width: 80px;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
}
.leg{
    flex-direction: column;
    text-align: center;
    margin: 10px 0px;
    padding: 5px 5px;
}
.perfil{
    text-align: justify;
    font-size: 17px;
    margin: 10px 40px;
}
/*==========================================*/
@media screen and (max-width: 800px){
    .cabecalho{
        flex-direction: column;
    }
    .texto{
        font-size: 19px;
        font-family: Arial
    }
    #corpo{
        margin: 0px 5px;
        padding: 15px;
    }
    .foto{
        width: 100%;
        margin-bottom: 15px;
    }
    .fotografia{
        width: 80%;
    }
    .fotografia:hover{
        width: 80%;
    }
    #meio{
        font-size: 18px;
    }
    .logos{
        flex-direction: column;
        margin: 15px 0px;
    }
    .icone{
        width: 210px;
    }
    .leg {
        margin: 0px;
        padding: 5px;
    }
    ul{
        margin-left: -28px;
    }
    li{
        font-size: 18px;
    }
    .perfil{
        margin: 10px;
    }
}